<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BCR.SICAD.WS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>     
    <!--GENERAL-->    
    <add key="SistemaWCF" value="F519F531-5C23-447C-AF4C-28AD51D8A479"/>
    <add key="ExpiracionWCF" value="15"/>
    <add key="EventoSICAD" value="SICAD"/>
    <add key="CredWCF" value="bcr.fi.cr;InternetBankingDes;]FG3OMdytt1"/>
    <!--SERVICIOS WEB-->
    <add key="ActiveDirectoryWS" value="http://bcr0106lab82/bcr.servicios.web/activedirectory.asmx"/>
  </appSettings>
  <connectionStrings>    
    <add name="SICAD" connectionString="Data Source=BCR0106BAD81,10000;Initial Catalog=SICAD_CONFIGURACION;User Id=deSicad;Password=123456Aa;"/>
    <add name="SICAD_BITACORA" connectionString="Data Source=BCR0106BAD81,10000;Initial Catalog=SICAD_BITACORA;User Id=deSicad;Password=123456Aa;"/>
	<add name="SICAD_CONSOLIDADO" connectionString="Data Source=BCR0106BAD81,10000;Initial Catalog=SICAD_CONSOLIDADO;User Id=deSicad;Password=123456Aa;"/>
  </connectionStrings>
  <system.web>
	<customErrors mode="Off" />
    <compilation targetFramework="4.0"/>
    <authentication mode="Windows"/>    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	<machineKey decryptionKey="8A74B35BE0C3E4C6FED68D47FDA40D0591F36579D175D27E" validationKey="2C526A06F62639D7AF1DC6133E72F5BCC2F45332CB3B01B27781A3B1D0C4CF84DC97DCD390DD5B8E499CB04A5DFFEA5C1F27BDA60BAD04894DBEF9E9446B38DD" />
  </system.web>
  <system.net>
        <connectionManagement>
            <add address="*" maxconnection="65000" />
        </connectionManagement>
    </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISvAdministrarSesiones" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISvAdministrarSesiones">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://usServiciosGenerales-app:16001/BCR.ServiciosGenerales.SVL.SvAdministrarSesiones.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvAdministrarSesiones"
        contract="BCRSesionesWCF.ISvAdministrarSesiones" name="BasicHttpBinding_ISvAdministrarSesiones" />
      <endpoint address="net.tcp://usServiciosGenerales-app:19001/BCR.ServiciosGenerales.SVL.SvAdministrarSesiones.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISvAdministrarSesiones"
        contract="BCRSesionesWCF.ISvAdministrarSesiones" name="NetTcpBinding_ISvAdministrarSesiones" />
    </client>
  </system.serviceModel>
</configuration>