<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCR.SICAD.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <!--GENERAL-->
      <add key="RowCount" value="16"/>
      <add key="ExpiracionWCF" value="15"/>
      <add key="MonedaDecimales" value="2"/>
      <add key="NumerosDecimales" value="2"/>
      <add key="SeparadorDecimal" value="."/>
      <add key="SeparadorMillar" value=","/>
	  <add key="CodSistema" value="99"/>
      <add key="FormatoFecha" value="dd/MM/yyyy"/>
      <add key="Cultura" value="es-CR"/>
      <add key="CaracteresPermitidos" value="^[a-zA-Z0-9 \-~.,/_:ÁÉÍÓÚÑáéíóúñ()]*$"/>
	  <add key="MostrarErrorTecnico" value="false"/>
      <!--SERVICIOS WEB-->
      <add key="ActiveDirectoryWS" value="http://SICAD-app:28000/SICAD/SicadActiveDirectoryWS.asmx"/>
      <add key="SiteMapWS" value="http://SICAD-app:28000/SICAD/SicadSiteMapWS.asmx" />
      <add key="SeguridadWS" value="http://SICAD-app:28000/SICAD/SicadSeguridadWS.asmx" />
      <add key="SesionesWS" value="http://SICAD-app:28000/SICAD/SicadSesionesWS.asmx" />
      <add key="ConfiguracionWS" value="http://SICAD-app:28000/SICAD/SicadConfiguracionWS.asmx" />
      <add key="ContenidoWS" value="http://SICAD-app:28000/SICAD/SicadContenidoWS.asmx" />
      <add key="ListaWS" value="http://SICAD-app:28000/SICAD/SicadListasWS.asmx" />
      <add key="CatalogosSugefWS" value="http://SICAD-app:28000/SICAD/SicadCatalogosSugefWS.asmx" />	  
	  <add key="ClasesDatosWS" value="http://SICAD-app:28000/SICAD/SicadClasesDatosWS.asmx" />
	  <add key="HomologacionesWS" value="http://SICAD-app:28000/SICAD/SicadHomologacionesWS.asmx" />
	  <add key="ProcesosWS" value="http://SICAD-app:28000/SICAD/SicadProcesosWS.asmx" />

    <!--CREDENCIALES PARA ACCEDER A LA CARPETA DE ARCHIVOS-->
    <add key="Dominio" value="bcr"/>
    <add key="UsuarioDominio" value="SICAD"/>
    <add key="PasswordDominio" value="[Credenciales_Usuario_DFS]"/>
    <!--DESCARGA DE ARCHIVOS-->
    <add key="CarpetaTemporal" value="~/Temporal"/>
    <add key="DescargaArchivosXML" value="\\bcr.fi.cr\aplicaciones\0167\SICAD\ArchivosXML"/>
    <add key="DescargaArchivosDBF" value="\\bcr.fi.cr\aplicaciones\0167\SICAD\ArchivosSalida"/>
    <add key="RutaCargaArchivos" value="\\bcr.fi.cr\aplicaciones\0167\SICAD"/>
	
    <!--REPORTES-->
    <add key="ServidorReportes" value="https://bcrreportesweb/Reportserver"/>
    <add key="CarpetaReportes" value="SICAD/SICAD_rpts"/>
	 
      <!--* ERRORES *-->
      <add key="2627" value="Error en la Operación. El registro que intenta ingresar ya existe en la Tabla"/>
      <add key="err500" value="Usuario no se encuentra en sesión"/>
      <add key="err501" value="Su sesión ha caducado. Por favor ingrese nuevamente"/>
      <add key="err502" value="No tiene permisos para ingresar al sistema"/>
      <add key="err503" value="Su usuario ha sido inactivado. Póngase en contacto con el administrador del sistema"/>
      <add key="err504" value="Actualmente se encuentra su sesión activa. Intente más tarde"/>
      <add key="err505" value="Usuario y/o contraseña incorrectos, o su usuario se encuentra inactivo en el dominio. Intente nuevamente o contacte al administrador."/>
      <add key="err506" value="Error al intentar acceder al sistema. Póngase en contacto con el administrador"/>
      <add key="err507" value="Su sesión ha sido finalizada por motivos de seguridad. Intente ingresar dentro de unos minutos"/>
      <add key="err508" value="Usuario bloqueado. Intente ingresar dentro de @tiempo@ minutos"/>
      <add key="err600" value="Ocurrió un problema al desplegar la información. Error de comunicación"/>
      <add key="err601" value="Ocurrió un problema con el proceso de autenticación del usuario. Error de comunicación"/>
      <add key="err602" value="No fue posible registrar su sesión. Error de comunicación"/>
      <add key="err603" value="Ocurrió un error en la operación actual. Error de comunicación"/>
      <add key="err604" value="No se ha podido iniciar la aplicación debido a un error de comunicación"/>
      <add key="err605" value="El tiempo de espera para la operación actual se ha agotado"/>
      <add key="err_sql_17" value="Ocurrió un error en la operación, hay problemas de comunicación con la base de datos"/>
      <add key="err_sql_4060" value="Ocurrió un error en la operación, hay problemas internos con la base de datos"/>
      <add key="err_sql_2627" value="Ocurrió un error en la operación, el identificador único del registro ya existe"/>
      <add key="err_sql_547" value="Ocurrió un error en la operación, existen valores que dependen del registro"/>
      <add key="err_sql_2601" value="Ocurrió un error en la operación, hay campos que no admiten duplicados"/>
      <add key="err_sql_229" value="Ocurrió un error en la operación, el usuario no tiene permisos sobre uno o más objetos de la base de datos. Póngase en contacto con el administrador"/>
      <add key="PKERROR" value="Violation of PRIMARY KEY constraint"/>
      <add key="FKERROR" value="statement conflicted with the REFERENCE constraint"/>
	  <add key="err_sql_esp" value="No se permiten caracteres especiales."/>
    </appSettings>
    <system.web>
		<customErrors mode="Off"/>
		<!--<customErrors mode="RemoteOnly" defaultRedirect="~/Aplicacion/Error.aspx" redirectMode="ResponseRedirect"/>-->
		<compilation debug="true" targetFramework="4.0" />	
		<authentication mode="Windows"/>
		<machineKey decryptionKey="F3140DB8878EE83A77654FA2247BB3490856C78C8912C4D0" validationKey="BEEF0D93D0A66C566C497E01D87CED9C76EC4F35C07D80F6409768102BB0CAD7DC4C4C576262417A4ADFA59DE9A39C0EC378C43AED89C82B8D6F78B102191CB7" />		
		<httpRuntime maxRequestLength="100000" executionTimeout="3600" />
    </system.web>
	<system.webServer>
    <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="102428800" />
      </requestFiltering>
    </security>
  </system.webServer>
   <location path="Aplicacion">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Imagenes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
   
</configuration>
